.story-view {
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgb(37, 34, 34);
  min-height: 100vh;
}
.story-view::before{
    content: "";
    background-color: rgb(37, 34, 34);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7rem;
    
}
.story-view-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  width: 80%;
  border: 3px solid #FCD80C;
  transform: translateY(-3rem);
  position: relative;
}
.story-view-box img {
  object-fit: cover;
  width: 60%;
 
}
.close-story-view {
  position: absolute;
  width: 50px;
  top: 80px;
  left: 80vw;
}
.story-time{
    color: seashell;
    font-style: italic;
    position: absolute;
    right: 30px;
    top: -25px;
}
#feather-story{
    width: 30px;
    position: absolute;
}

@media only screen and (max-width: 795px) {
    .story-time{
        font-size: 10px;
    }
    #feather-story{
        width: 20px;
    }
  }
@media only screen and (max-width: 552px) {
    .story-time{
        font-size: 10px;
        top: -20px;
    }
    #feather-story{
        width: 20px;
    }
    .close-story-view {
        width: 30px;
      }

  }